<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test">
    <test name="Testing">
        <classes>
          
            <class name="TestNGTutorialPractice.A_1_RunWithOutJava">
             <methods>
               <include name ="Personalloan"/>
               <include name ="CarLoan"/>
             </methods>
              </class>
             <class name ="TestNGTutorialPractice.A_2_PracticeTestNG"/>
            
        </classes>
    
    </test>
</suite>
