<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
   <listener class-name="SeleniumAutomation.pageobjects.ImplementListeners"/>
</listeners>
  <test name="Tests">
     <classes>
      <class name ="SeleniumAutomation.StandAloneTest_POM_Implementation"/>
    </classes>  
  </test> <!-- Test -->
</suite> <!-- Suite -->
